@keyframes pulsate {
    0% {
        transform: opacity;
    }

    50% {
       opacity: (0.6);
    }

    100% {
        transform: scale(1,1.5);
    }
}

.about {
    padding: 100px 80px;
    background-color: #0A2850 ;
    color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
   flex-wrap: wrap;
 }
 
 .about__title {
    margin: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    z-index: 2;
    max-width: 251px;
 }
 
 .about__content {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    font-family: "Noto Serif";
    gap: 20px;
    padding: 0px;
    
    flex-direction: row-reverse;
    align-items: end;
    max-width: 660px;

    z-index: 2;
    border: solid greenyellow;
 }
 
 .about__paragraph { 
    margin-top: auto;
 }

 .about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -121px;
    left: -160px;

 }

 .about__circule_animation-blurred:hover {
    box-shadow: 0 0 50px rgb(99, 155, 228);
    animation: 1.3s ease-in-out pulsate; 
 }
