.footer {
    padding: 60px 100px 60px 80px;
    background:linear-gradient(180deg, #0A2850 0%,#071934 100%);
}

.footer__logo {
    width: 57px;
    height: 80px;
  }

  .footer__content {
      margin: 0;
      display: flex;
    justify-content: space-between;
  }

 .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
 } 

 .footer__list-item {
    margin: auto;
 }

 .footer__social {
   
 
   flex-direction: column;
    display: flex;
 }
 .footer__social-p {
   font-family: "Inter";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   display: inline-grid;
   color: white;
 }

 .footer__social-p {
  color: aliceblue;
 }

 .footer__social-heading{
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    color: white;
 }

 .footer__social-link {
   font-family: "Inter";
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
    text-decoration: none;
    color: #c1c1c1;
 }

.footer__social-icon {
    width: 16px;
    height: 16px;
  
}

.footer__copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
    gap: 108px;
    color: white;
}


    
